.award-box-container {
    display: flex;
    justify-content: center;


    .award4-box {
        transform: translateX(20%);
        opacity: 0.1;
        transition: .8s;
    }

    //.award4-box.active {
    //    transform: translateX(0);
    //    opacity: 1;
    //}
}
.award3-box {
}

//.award3-box.active {
//    transform: translateX(0);
//    opacity: 1;
//}

@keyframes active-animation {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}