.aaa{
    transform: translateX(50%);
    opacity: 0;
    transition: 1.2s;
}

.aaa.active{
    transform: translateX(0);
    opacity: 1;
}

.profile{
    transform: translateX(-50%);
    opacity: 0;
    transition: .8s;
}

.profile.active{
    transform: translateX(0);
    opacity: 1;
}