.projects-page {
  .dash-title {
    .title-font {
      font-size: 6.25rem;
    }
  }

  .project-component {
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    .project-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      img {
        width: 45%;
      }

      .project-desc {
        width: 70rem;

        .title {
          font-family: "Noto Sans KR";
          font-size: 3.75rem;
          color: $colorBrown100;
        }

        .subtitle {
          font-family: "Noto Sans KR";
          color: $colorBrown100;
          font-size: 2.5rem;
          margin-top: 0.625rem;
        }

        .text {
          font-family: "Noto Sans KR";
          color: $colorBrown100;
          font-size: 1.875rem;
          margin-top: 0.625rem;
        }

        .sub-text {
          font-family: "Noto Sans KR";
          color: $colorBrown100;
          font-size: 1.625rem;
          margin-top: 0.625rem;
        }
      }
    }
    .project-btn-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
      margin: 5rem 8rem 0 0;
    }
  }

  .slick-prev {
    cursor: url("/assets/icons/angry.png"), url("/assets/icons/angry.cur"), pointer;
  }
  .slick-next {
    cursor: url("/assets/icons/angry.png"), url("/assets/icons/angry.cur"), pointer;
  }
.slick-prev:before {
  opacity: 1;
  color: black;
}
  .slick-next:before {
    opacity: 1;
    color: black;
  }
  .slick-dots li button {
    cursor: url("/assets/icons/angry.png"), url("/assets/icons/angry.cur"), pointer;
  }
  .btn-container {
    width: unset;
  }
}

.video-modal {
  position: fixed;
  width: 100rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  .close-btn {
    position: fixed;
    z-index: 5;
    right: 3rem;
    top: 3rem;
    cursor: url("/assets/icons/angry.png"), url("/assets/icons/angry.cur"), pointer;
    font-size: 3rem;
    color: $colorBlack;
    background-color: $colorWhite;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 1rem;
  }
  video {
    width: 100rem;
    border-radius: 2rem;
  }

}