.footer {
  background-color: $colorBlack;
  height: 21.875rem;
  margin-top: 15rem;
  .footer-icon-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 25rem;

    .footer-icon-image {
      width: 5.625rem;
      margin-top: 5rem;
    }
  }
.copyright {
  margin-top: 3.75rem;
  font-family: Noto Sans KR;
  color: $colorWhite;
  font-size: 2rem;
  text-align: center;
}
}