.nav-bar {
  width: 100%;
       height: 12rem;
       display: flex;
       border-bottom-color: $colorBlack;
       border-bottom-style: solid;
       border-bottom-width: 0.25rem;
       justify-content: space-between;
       background-color: white;
       width: 100%;

    .nav-text-logo {
      text-decoration: none;
      display: flex;
      align-items: center;
      .animated-text {
        color: transparent;
        cursor: pointer;
        background: conic-gradient(
                        #00a6c6 10%,
                        #01c7b7 20%,
                        #f3ecdc 30%,
                        #dfdbce 35%,
                        #b8b8b5 62%,
                        #90796e 62%,
                        #033468 75%,
                        #21bcd6 75%,
                        #1779bb 85%,
                        #768fd6 85%
        );

        background-size: 50%;
        background-clip: text;
        -webkit-background-clip: text;

        animation: expand-rev 1s ease forwards;

        &:hover {
          animation: expand 1s ease forwards;
        }
      }

      @keyframes expand {
        0% {
          background-size: 30%;
          background-position: 0 0;
        }
        20% {
          background-size: 55%;
          background-position: 0 1em;
        }
        100% {
          background-size: 325%;
          background-position: -15em -1em;
        }
      }

      @keyframes expand-rev {
        0% {
          background-size: 325%;
          background-position: -10em -4em;
        }
        20% {
          background-size: 55%;
          background-position: 0 2em;
        }
        100% {
          background-size: 30%;
          background-position: 2em 0.1em;
        }
      }

      .happyhyep-text {
           margin-left: 3.75rem;
           align-items: center;
           letter-spacing: 0.09em;

           font-family: Redemption;
           font-style: normal;
           font-weight: 400;
           font-size: 7.5rem;
      }
    }

    .link-container {
      display: flex;
      align-items: center;
      margin-right: 5rem;
      gap: 3.5rem;
      .link-text {
           display: flex;
           align-items: center;

           font-size: 2.3rem;
           font-family: Noto Sans KR;
           color: $colorBlack;
           text-decoration: none;
      }
      img {
        height: 4rem;
        cursor: pointer;
      }
    }
    .mobile-header-right {
      display: none;
    }



  // mobile인 경우 헤더
  @include mobile {
      .link-container {
        display: none;
      }
      .mobile-header-right {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-right: 5rem;
        img:nth-child(1) {
          cursor: pointer;
          height: 6rem;
        }
        img:nth-child(3) {
          height: 4rem;
        }
      }
  }
  // mobile인 경우 헤더
  @include min-mobile {
      .link-container {
        display: none;
      }
      .mobile-header-right {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-right: 5rem;
        img:nth-child(1) {
          height: 6rem;
        }
        img:nth-child(3) {
          height: 4rem;
        }
      }
  }


  // lang 변경하는 toast
  .hidden-lang-toast {
    display: none;
  }
  .hidden-lang-toast-mobile {
    display: none;
  }
  .lang-toast {
    display: unset;
    width: 18rem;
    background-color: $colorWhite;
    position: absolute;
    top: 10.5rem;
    right: 2rem;
    z-index: 10;
    border: 0.125rem solid $colorBlack;
    border-radius: 1.3rem;
    font-size: 2.8rem;
    @include dropDown();
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        cursor: pointer;
        padding: 1.5rem 0 1.5rem 2rem;
      }
      .checked-lang-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          position: absolute;
          left: 1rem;
          width: 3rem;
        }
      }
    }
    @include mobile {
      right: 7rem;
    }
    @include min-mobile {
      right: 7rem;
    }
  }
}

