html {
  /* 루트 요소 폰트 사이즈 */
  /* 1rem = 8px */
  font-size: 8px;
  @include min-pc {
    font-size: 6px;
  }
  @include big-tablet {
    font-size: 5px;
  }
  @include mobile {
    font-size: 4px;
  }
  @include min-mobile {
    font-size: 3px;
  }
  body {
    margin: 0;
  }
}

.dash-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8.75rem 0 5rem;
  .dash-line {
    width: 30%;
    height: 0;
    border: 0.125rem dashed $colorBlack;
    margin: 8.75rem 0 8.75rem;
  }
}