//@font-face {
//    font-family: "applesdgothic", applesdgothic;
//    src: url("./applesdgothic.ttf") format("woff2");
//    font-weight: normal;
//    font-style: normal;
//};
@font-face {
  font-family: 'iceJaram-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//    font-family: 'UhBeeRice';
//    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRice.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//    }

     @font-face {
  font-family: 'Redemption';
  font-style: normal;
  font-weight: 400;
  src: local('Redemption'), url('https://fonts.cdnfonts.com/s/23565/Redemption.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/AppleSDGothicNeoR.woff2"), url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'), url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src:  url("/assets/fonts/AppleSDGothicNeoR.woff2"),url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff2');
  unicode-range: U+0041-005A, U+0061-007A;
}

