$sizeHeaderHeight: 116px;
$sizeSideBarWidth: 34.5rem;
$sizeFooterHeight: 417px;
$sizeMobileFooterHeight: 356px;


// Media Query
$sizeSmallMobile: 360px;
$sizeMobile: 375px;
$sizeSmallTablet: 587px;
$sizeTablet: 768px;
$sizeBigTablet: 991px;