/**
COLOR LIST
 */

$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGray100: #333333;
$colorGray200: #888888;
$colorGray300: #808080;
$colorGray400: #595959;

$colorBrown100: #53354A;

$colorYellow100: #ffd400;

$colorBlue100: #93C6D5;
$colorBlue200: #71b5c9;





/**
RESOLUTION LIST
 */
@mixin min-mobile {
  @media (max-width: 413px) {
    @content
  }
}
@mixin mobile {
  @media (min-width:414px) and (max-width: 767px) {
    @content;
  }
}

@mixin min-tablet {
  @media (width: 768px) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin min-pc {
  @media (min-width: 1025px) and (max-width: 1447px) {
    @content;
  }
}
@mixin big-pc {
  @media (min-width: 1448px) and (max-width: 99999px) {
    @content;
  }
}


@mixin dropDown {
  animation-name: dropDown;
  animation-duration: 500ms;
  animation-direction: normal;
}
@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-2rem);
    height: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
  }
}

@mixin dropUp {
  animation-name: dropUp;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes dropUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-2rem);
    height: 0;
    overflow: hidden;
  }
}

@keyframes dropLeft {
  from {
    opacity: 0;
    transform: translateX(-2rem);
    width: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
  }
}


@mixin dropLeft {
  animation-name: dropLeft;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes dropRight {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(2rem);
    opacity: 0;
    width: 0;
    overflow: hidden;
  }
}


@mixin dropRight {
  animation-name: dropRight;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

//@mixin dropDownUp {
//  &.dropdown-enter-active,
//  &.dropdown-enter-to {
//    @include dropDown;
//  }
//  &.dropdown-leave-from,
//  &.dropdown-leave-active {
//    @include dropUp;
//  }
//}